numpy
torch
torchvision
transformers
pillow
scikit-image
opencv-python
nltk
pandas
kagglehub
matplotlib
scipy
tqdm
fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
python-dotenv
plotly
pytest